#calendar-wrapper {
    box-shadow: 0 2px 10px 5px #d1d6ff;
    padding: 20px;
    background: white;
}

#calendar-wrapper #title {
    font-size: 24px;
    color: black;
    text-align: left;
}

.calendar {
    margin-top: 30px;
    border-spacing: 0;
}

.calendar-top {
    background: #6c93ff;
    font-size: 24px;
    height: 70px;
}

.calendar-week {
    background: #a1baff;
    color: white;
    height: 88px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: initial;
}

.calendar-day {
    width: 75px;
    height: 75px;
    max-height: 88px;
    padding: 5px;
    vertical-align: middle;
    font-size: 20px;
    text-align: center;
}

#calendar-today .dropdown-value {
    color: white;
}

.monthButton {
    all: unset;
    cursor: pointer;
    width: 25px;
    height: 25px;
    margin: 0 20px 0 20px;
    color: white;
    text-align: center;
    line-height: 24px;
}

#calendar-date {
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 106%;
    margin-top: 10px;
    margin-left: -5px;
}

.creator-wrapper {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}

.creator-wrapper span {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown:hover .creator-wrapper {
    display: block;
}

tr:nth-child(even) { 
    background-color: white;
}

tr:nth-child(odd) { 
    background-color: #eeeeee; 
}