.detail-wrapper {
    display: flex;
    justify-content: space-between;
}

label {
    font-size: 20px;
    font-weight: bold;
}

#detail {
    width: 300px;
    margin: 50px 0 0 300px;
    clear: both;
}

#detail, input, textarea {
    width: 300px;
    margin-bottom: 15px;
    padding: 5px;
    clear: both;
    outline: none;
    font-size: 16px;
}

#image {
    width: 400px;
    height: auto;
}

.period {
    display: flex;
    flex-direction: column;
    margin: 50px 300px 50px 0;
}

.period input[type="radio"] {
    width: 15px;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

button {
    all: unset;
    width: 80px;
    height: 30px;
    margin-top: 50px;
    border: 2px solid #ff4f4f;
    border-radius: 15px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}