table {
    width: 800px;
    padding: 0;
    margin-top: 50px;
    border: 1px solid white;
    border-collapse: collapse;
}

tr {
    cursor: pointer;
    border-bottom: 1px solid #d69630;
}

th {
    background: #d69630;
    color: white;
    padding: 10px 20px 10px 20px;
}

td {
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
