body {
    margin: 0;
    background: #6c93ff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 10px;
    height: 50px;
}

.nav-title {
    margin-left: 20px;
    font-size: 26px;
    font-weight: 500;
    color: black;
}

.menu-button {
    all: unset;
    padding: 5px;
    margin-right: 50px;
    height: 20px;
    padding: 1px 10px 1px 10px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-button:hover {
    color: white;
    background: #6c93ff;
    border: 0px solid transparent;
    border-radius: 20px;
}

.main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main p {
    font-size: 30px;
    font-weight: bold;
    color: white;
}