<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style/navigation.css">
    <link rel="stylesheet" type="text/css" href="/style/calendar.css">
    <title>Group Scheduler</title>
</head>
<body>
    <header class="nav">
        <div class="nav-title">
            Cada Schedule
        </div>
        <div class="nav-menu">
            <button type="button" class="menu-button" onclick="location.href='/'">Home</button>
            <button type="button" class="menu-button" onclick="location.href='/create'">Create</button>
        </div>
    </header>
    <section class="main">
        <div id="calendar-wrapper"></div>
    </section>
</body>
<script>
    let userPeriod = <%- JSON.stringify(userPeriod) %>
</script>
<script type="text/javascript" src="/script/calendar.js"></script>
</html>