<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style/navigation.css">
    <link rel="stylesheet" type="text/css" href="/style/create.css">
    <title>Group Scheduler</title>
</head>
<body>
    <header class="nav">
        <div class="nav-title">
            Cada Schedule
        </div>
        <div class="nav-menu">
            <button type="button" class="menu-button" onclick="location.href='/'">Home</button>
            <button type="button" class="menu-button" onclick="location.href='/create'">Create</button>
        </div>
    </header>
    <section class="main">
        <div id="create-form">
            <div id="form-comment">
                <h1>Create Schedule</h1>
                <h2>and share this schedule to set up!</h2>
            </div>
            <form method="POST" action="/create" name="Form" enctype="multipart/form-data" onsubmit="return validateForm()">
                <input type="text" name="name" id="create-name" placeholder="Name" autocomplete="off">
                <input type="text" name="title" id="create-title" placeholder="Title" autocomplete="off">
                <input type="date" name="periodStart" id="create-start">
                <input type="date" name="periodEnd" id="create-end" placeholder="date">
                <textarea rows="5" name="comment" id="create-comment" placeholder="Comment"></textarea>
                <div id="inputFile">
                    <p id="fileTitle"></p>
                    <label for="create-image">Upload</label>
                    <input type="file" name="image" id="create-image" accept="image/*" multiple>
                </div>
                <button id="create-submit">submit</button>
            </form>
        </div>
    </section>
</body>
<script type="text/javascript" src="/script/create.js"></script>
</html>