<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="style/navigation.css">
    <link rel="stylesheet" type="text/css" href="style/create.css">
    <title>Group Scheduler</title>
</head>
<body>
    <header class="nav">
        <div class="nav-title">
            준자혁지
        </div>
        <div class="nav-menu">
            <button type="button" class="menu-button" onclick="location.href='/'">Home</button>
            <button type="button" class="menu-button" onclick="location.href='/create'">Create</button>
        </div>
    </header>
    <section class="main">
        <div id="create-form">
            <form method="POST" action="/create" name="Form" enctype="multipart/form-data" onsubmit="return validateForm()">
                <fieldset>
                    <legend>일정 만들기</legend>
                    <label for="name">작성자이름</label>
                    <input type="text" name="name" id="create-name" autocomplete="off">
                    <label for="title">일정이름</label>
                    <input type="text" name="title" id="create-title" autocomplete="off">
                    <label for="periodStart">시작시간</label>
                    <input type="date" name="periodStart" id="create-start">
                    <label for="periodEnd">마감시간</label>
                    <input type="date" name="periodEnd" id="create-end">
                    <label for="comment">설명</label>
                    <textarea rows="5" name="comment" id="create-comment"></textarea>
                    <label for="image">첨부자료</label>
                    <input type="file" name="image" id="create-image" accept="image/*" multiple>
                    <button id="create-submit">확인</button>
                </fieldset>
            </form>
        </div>
    </section>
</body>
<script>
    function validateForm() {
        const name = document.forms['Form']['name'].value;
        const periodStart = document.forms['Form']['periodStart'].value;
        const periodEnd = document.forms['Form']['periodEnd'].value;
        const comment = document.forms['Form']['comment'].value;

        if(name == null || name == '' || periodStart == null || periodStart == '' 
        || periodEnd == null || periodEnd == '' || comment == null || comment == '') {
            alert('모든 항목을 채워주세요.');
            return false;
        }
        if(periodStart > periodEnd) {
            alert('시작시간과 마감시간이 잘못 입력되었습니다.');
            return false;
        }
    }
</script>
</html>