<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Group Scheduler</title>
</head>
<body>
    <header class="nav">
        <div class="nav-title">
            준자혁지
        </div>
        <div class="nav-menu">
            <button type="button" class="menu-button">처음으로</button>
            <button type="button" class="menu-button">새 일정</button>
            <button type="button" class="menu-button">진행중인 일정</button>
        </div>
    </header>
    <section class="main">
        <table class="calendar">
            <tr>
                <th class="calendar-top calendar-weekend">일</th>
                <th class="calendar-top">월</th>
                <th class="calendar-top">화</th>
                <th class="calendar-top">수</th>
                <th class="calendar-top">목</th>
                <th class="calendar-top">금</th>
                <th class="calendar-top calendar-weekend">토</th>
            </tr>
            <tr class="calendar-week"></tr>
            <tr class="calendar-week"></tr>
            <tr class="calendar-week"></tr>
            <tr class="calendar-week"></tr>
            <tr class="calendar-week"></tr>
        </table>
    </section>
</body>
</html>