<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/style/index.css">
    <link rel="stylesheet" type="text/css" href="/style/navigation.css">
    <title>Group Scheduler</title>
</head>
<body>
    <header class="nav">
        <div class="nav-title">
            Cada Schedule
        </div>
        <div class="nav-menu">
            <button type="button" class="menu-button" onclick="location.href='/'">Home</button>
            <button type="button" class="menu-button" onclick="location.href='/create'">Create</button>
        </div>
    </header>
    <section class="main">
        <p>
            여러 사람들과 일정을 맞추기 정말 어렵죠?<br>
            하지만 CADA SCHEDULE과 함께라면 아무것도 아니에요!
        </p>
        <table id="schedule-list">
        </table>
    </section>
</body>
<footer>
    made by Myungho Bae | myungho.dev@gmail.com
</footer>
<script>
    var schedule = <%- JSON.stringify(schedule) %>
    
    if('<%= create %>' == 'true')
        alert('일정이 등록되었습니다.\n접근을 위한 보안 코드는 [<%= code %>]입니다. 꼭 기억해주세요!');
</script>
<script type="text/javascript" src="script/index.js"></script>
</html>